.image{
    
    color:floralwhite;
    margin: 0 0 0 50px;
    font-size: 36px;
    
}
.image::first-letter{
    color: red;
}
.header{
    grid-area: h;
    width: 100%;
    /*position: fixed;*/
    background-color: #0b042b;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.div_link{
    margin: 0 50px 0 0;
}
.link{
    color: white;
    font-size: 26px;
    text-decoration: none;
}
.inform{
    color: white;
    font-size: 26px;
    text-decoration: none;
}

