.sidebar{
    grid-area: s;
    background-color:rgb(53, 7, 77);

}

.menu{
    list-style: none;
    margin: 20px 0 0 -10px;
}

.list{
    text-decoration: none;
    color: #c3c3c3;
    margin: 0 0 15px 0;
    font-size: 18px;
}