.text_error{
    border: 1px solid red;
}
.text{
    height: 50px;
    width: 200px;
}
.text_input{
    height: 30px;
    width: 200px;
}
.error{
    color: red;
}
.error_form_all{
    border: 1px solid red;
    width: 200px;
    padding: 5px;
}
